# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio garbadge
*.suo
*.sdf
*.user
# .user ignores CMake project files written by Qt Creator as well

# CMake build directory (if building in the same directory)
build
