# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio garbage
*.suo
*.sdf
*.user # Ignores CMake project files written by Qt Creator as well

# Vim swap files
*.swo
*.swp

# CMake build directory (if building in the same directory)
/build/

# Other CMake stuff
CMakeCache.txt
CMakeFiles/
Makefile
/bin/
*.cmake
